* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
}

.d-flex{
  display: flex;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

.inline-block{
  display: inline-block;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

img{
  max-width: 100%;
}


/* Header */

.top{
  position: sticky;
  top: 0;
  background-color: white;
  height: 80px;
}


.content{
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 20px;
}

.logo{
  flex-shrink: 0;
}

.content img{
  padding-right: 40px;
}

.content nav ul li{
  display: inline-block;
  font-weight: 500;
  padding-right: 40px;
}

.content nav ul li a{
  color: black;
}

.left nav ul li a:hover{
  padding-bottom: 34px;
  border-bottom: 3px solid black;
}

.left a:hover{
  cursor: pointer;
  opacity: 0.7;
}

.right span a{
  background-color:#0061ff;
  justify-content: center;
  font-size: 1rem;
  font-weight: 400;
  padding: 10px 15px;
  border: none;
  color: white;
}

.right a:hover{
  cursor: pointer;
  opacity: 0.7;
}

.right nav ul li a:hover{
  padding-bottom: 30px;
  border-bottom: 3px solid black;
}

/* jumbotron */
.jumbo{
  justify-content: center;
  padding-top: 100px ;
  background-color: #b4d0e7;
  height: 750px;
}

.jumbo .container h1{
  font-size: 4.7rem;
  padding-bottom: 50px;
}

.col p{
  font-weight: 500;
  width: 30%;
}

.col img{
  width: 70%;
}

.text p{
  width: 100%;
  padding-bottom: 35px;
}

.trial{
  padding-bottom: 35px;
}

.trial a{
  background-color: #0061ff;
  padding: 10px;
  color: white;
}

.cancel, .cancel a{
  padding-bottom: 70px;
  color: black;
}

.cancel a:hover{
  background-color: #0061ff;
  padding: 10px;
  color: white;
}

.arrow{
  font-size: 3rem;
}
/* /jumbotron */
/* /Header */

/* main */

.main-container{
  max-width: 1000px;
  margin: 0 auto;
}

.plan{
  margin-top: 100px ;
}

.plan .main-container h2{
  font-size: 2.5rem;
}

.plan .main-container .check{
  display: inline-block;
  padding-top: 80px;
  padding-bottom: 60px;
  font-weight: 600;
}

.plan .main-container .full{
  display: inline-block;
  padding-right: 50px;
  font-weight: 600;
}

.plan .main-container .checkbox .full i{
  color: #0061ff;
  font-size: 1.2rem;
  align-items: center;
}

.plan .main-container .checkbox .check i{
  color: #d0d0d3;
  font-size: 1.2rem;
  align-items: center;

}

/* Le 3 tabelle */
.colum{
  flex-direction: column;
  width: 300px;
  border: 1px solid #d9d9dc;
}

.table{
  justify-content: space-between;
}

.top-table{
  display: inline-block;
  text-align: center;
  border-bottom: 1px solid #d9d9dc;
  padding: 5px;
}

/* Contenuto tabella */
.text-table{
  flex-direction: column;
  margin: 50px 30px;
  font-weight: 600;
}

.text-table h3{
  font-size: 1.5rem;
  padding-bottom: 10px;
}

.text-table .price li{
  line-height: 30px;
  padding-bottom: 30px;
  font-size: 14px;
}

.text-table .price li p{
  font-weight: 600;
}

.text-table .price li span{
  color: #757575;
  font-weight: 600;
}

.text-table .pack div{
  font-size: 14px;
  padding: 10px 0;
}

.text-table .pack div i{
  padding-top: 3px;
}

.main-trial{
  background-color: #0061ff;
  justify-content: center;
  padding: 10px;
  margin: 50px 0 35px 0;
}

.main-trial a{
  color: white;
  font-size: 14px;
}

#buy-now {
  font-size: 0.9rem;
}

#buy-now a{
  text-decoration: underline;
}

.linea{
  margin: 50px 0;
  width: 60px;
  border: 1px solid #d9d9dc;
}

.points, .points h4{
  font-size: 14px;
  padding-bottom: 10px;
}

.points div{
  margin: 20px 0;
}

.points div i{
  color:#0061ff ;
  padding-top: 3px;
  font-size: 1rem;
}
/* /Contenuto tabella */
/* /Le 3 tabelle */

/* Ultima tabella */
.row{
  flex-direction: column;
  border: 1px solid #d9d9dc;
  width: 100%;
  margin-top: 50px;
}

.bottom-table{
  justify-content: center;
  padding: 10px;
  border-bottom: 1px solid #d9d9dc;
  align-items: center;
}

.row-col{
  padding: 40px 30px;
}

.row-col .left{
  width: 70%;
}

.row-col .left h4{
  font-size: 1.5rem;
}

.row-col .left h5{
  font-weight: 800;
  font-size: 14px;
  padding-top: 30px;
  padding-bottom: 60px;
}
.row-col .left p{
  width: 100%;
  font-size: 14px;
  font-weight: 600;
}

.row-col .right{
  justify-content: center;
  text-align: center;
  width: 30%;
}

.row-col .right p{
  width: 100%;
}

.row-col .right p a{
  background-color: #0061ff ;
  color: white;
  padding: 10px 40px;
}

.partner{
  margin-top: 150px ;
}

.partner img{
  width: 60% ;
}

.partner .text-partner{
  width: 40%;
}

.text-partner{
  padding: 70px 50px;
}

.text-partner h3{
  font-weight: 800;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.text-partner p{
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 35px;
}

.text-partner a{
  border: 1px solid black;
  padding: 10px;
  color: black;
}

.text-partner a:hover{
  background-color: lightgray;
}
/* /Ultima tabella */

/* Card */
.container-wrap{
  max-width: 1000px;
  margin: 40px auto;
}

.container-wrap h1{
  font-size: 2.5rem;
  margin-top: 165px;
}

.cover{
  margin-top: 90px;
  flex-wrap: wrap;
}

.card{
  width: calc(100% / 3);
  padding: 10px;
  font-weight: 600;
}

.card h3{
  font-size: 1.5rem;
  font-weight: 800;
  padding-bottom: 40px;
}
/* /Card */


/* Sponsor section */
.dropbox-business h1{
  width: 60%;
  font-size: 2.4rem;
  font-weight: 800;
  margin-top: 200px;
}

.dropbox-business p{
  margin-top: 80px ;
  text-decoration: underline;
  margin-bottom: 150px;
}
.sponsor .big-square{
  width: calc(100% / 3);
  aspect-ratio: 1/1;
  height: auto;
}

.big-square{
  flex-wrap: wrap;
  width: calc(100% / 2);
}

.square{
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: calc(100% / 2);
  aspect-ratio: 1/1;
}

.square:hover{
  box-shadow: inset 0 0 0 20px rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: all 0.3s;
}

.designit{
  background-color: #a2d39b;
}

.designit img{
  width: 50%;
  height: 20%;
  filter: brightness(0) invert(1);
}

.arizona{
  background-color: #61082b;
}

.arizona img{
  width: 50%;
  height: 50%;
  filter: brightness(0) invert(1);
}

.florida{
  background-color: #0093ce;
}

.florida img{
  width: 50%;
  height: 10%;
  filter: brightness(0) invert(1);
}

.topps{
  background-color: red;
}

.topps img{
  width: 50%;
  height: 20%;
  filter: brightness(0) invert(1);
}

.world{
  background-color: red;
}

.world img{
  width: 50%;
  height: 20%;
  filter: brightness(0) invert(1);
}

.hearst{
  background-color: #b4d0e7;
}

.hearst img{
  width: 50%;
  height: 50%;
  filter: brightness(0) invert(1);
}

.planet{
  background-color: #0d2481;
}

.planet img{
  width: 50%;
  height: 40%;
  filter: brightness(0) invert(1);
}

.channel{
background-color: yellow;
}

.channel img{
  width: 50%;
  height: 50%;
  filter: brightness(0) invert(1);
}

.middle{
  overflow: auto;
  padding: 50px;
}

.middle img{
  width: 250px;
}

.middle .linea{
  width: 100px;
}

.middle p{
  font-weight: 600;
  padding-bottom: 50px;
}

.overflow{
  overflow: auto;
}
/* /Sponsor section */

.porta{
  background-color: #b4d0e7;
  height: 350px;
  padding: 135px;
}

.porta .main-container .left{
  width: 60%;
}

.porta .main-container .right{
  width: 40%;
}

.porta .main-container .left h2{
  font-size: 2.5rem;
  font-weight: 800;
  color: #61082b;
}

.porta .main-container .right p{
  text-align: center;
}

.porta .main-container .right p a{
  background-color: white;
  padding: 10px 50px;
  color: black;
  font-weight: 600;
}

/* Domande frequenti */
.question{
  padding: 160px;
}

.last h2{
  font-size: 2.5rem;
  font-weight: 800;
  border-bottom: 1px solid grey;
  padding-bottom: 70px;
}

.last .domande{
  padding: 45px 0;
  border-bottom: 1px solid grey;
  justify-content: space-between;
}

.last .domande span{
  font-weight: 800;
}

.show-text span{
  padding-right: 300px;
}

.hidden-text{
  display: none;
  font-weight: 600;
}

.show-text:hover .hidden-text{
  display: block;
  padding-top: 20px;
}



/* /Domande frequenti */


/* footer */

footer{
  padding-top: 150px;
  background-color: black;
}

.top-foot{
  justify-content: space-between;
}

.top-foot h4{
  color: white;
  font-size: 1.5rem;
  padding-bottom: 30px;
  font-weight: 800;
}

.top-foot ul li a{
  line-height: 30px;
  font-weight: 600;
  color: white;
}

.bot-foot{
  color: grey;
  padding-bottom: 40px;
}

.mid-fot .linea{
  margin-top: 120px;
  width: 120px;
  border: 1px solid grey;
}